@use '../styles/variables' as *;
@use '../styles/mixins' as *;

/* --- Страница --- */
.dashboard-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: $spacing-2xl;
    
    /* --- Управление опросами --- */
    .controls-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 75%;
        @include mobile {
            width: 90%;
        }
    }
    
    .button-create {
        width: 17%;
        .icon-primary {
            rotate: 45deg;
        }
    }
    
    .search-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: $spacing-sm $spacing-lg;
        gap: $spacing-xs;
        border-radius: $radius-full;
        width: 63%;
        @include mobile {
            width: calc(65% - 16px);
        }
    }
    
    .input-field::placeholder {
        color: $color-text;
    }

    .filter-select-wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        width: 17%;
        flex-shrink: 0;
    }
    
    .filter-select {
        border-radius: $radius-full;
        padding: $spacing-sm;
        padding-left: calc(clamp(1.5rem, 3vw, 2rem) + $spacing-xl);
        width: 100%;
        cursor: pointer;
        @include mobile {
            padding-left: 100px;
        }

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        &::-ms-expand {
            display: none;
        }
    }

    .filter-select-icon {
        position: absolute;
        left: $spacing-lg;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        color: $color-text-muted;
        @include mobile {
            transform: translate(-50%, -50%);
            left: 50%;
        }
    }
    
    /* --- Опросы --- */
    .surveys-group {
        width: 75%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mobile {
            width: 90%;
        }
    }
    
    /* Ошибка */
    .surveys-error {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-lg;
        padding: $spacing-lg;
        width: fit-content;
        height: fit-content;
    }
    
    .button-retry {
        font-size: $font-size-h3;
        gap: $spacing-xs;
    }
    
    /* Пустой список опросов */
    .surveys-empty {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacing-sm $spacing-lg;
        width: fit-content;
        height: fit-content;
        @include mobile {
            word-break: break-word;
        }
    }
    
    /* Сетка опросов */
    .surveys-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: $spacing-2xl $spacing-xl;
        width: 100%;
        @media (max-width: 1400px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
        @include tablet {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @include mobile {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: $spacing-xl;
        }
    }
    
    .survey-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacing-lg;
        padding: $spacing-lg;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .survey-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: $spacing-xs;
        width: 100%;
    }
    
    .survey-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }
    
    /*
    .survey-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: $spacing-xs;
        width: 100%;
    }
    */
}