/*  --- Страница ---    */
/*
body {
    background-color: #BAE7FF;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.page {
    background-color: #BAE7FF;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  --- Фрейм ---    */
.frame {
    background-color: #FFFFFF;
    width: 710px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
}

/*  --- Заголовок ---    */
.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #222222;
}

.title-line {
    width: 100%;
    height: 0;
    border-bottom: 2px solid #777777;
    margin-top: 0;
}

/*  --- Поле ввода ---    */
/* - Обёртка для всей группы - */
.field-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    width: 500px;
}

/* - Название - */
.field-title {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #222222;
}

/* - Обёртка для поля email - */
.input-email {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

/* - Обёртка для поля пароль - */
.input-password-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* - Группа для пароля и иконки - */
.input-password {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
}

/*  --- Отключаем нативный глаз ---   */
input::-ms-clear, input::-ms-reveal {
    display: none;
}

.password-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/* - Само поле ввода - */
.field-input {
    border: none;
    /*
    border-bottom: 1.5px solid #777777;
    padding-bottom: 8px;
    */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    background: transparent;
    outline: none;
    flex: 1;
}

.field-input::placeholder {
    color: #777777;
}

.field-line {
    width: 100%;
    height: 0;
    border-bottom: 1.5px solid #777777;
    /*
    margin-top: 0;
    */
}

/*  --- Иконки ---    */
.icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: #222222;
    border-radius: 1.5;
}

/*  --- Кнопка ---    */
.button {
    background-color: #3077A6;
    width: 450px;
    height: 50px;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.button:hover {
    background-color: #2b6a94;
}

/*  --- Текст о регистрации ---    */
.register-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.register-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #222222;
}

.register-link {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0C21C1;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}