/* --- Страница --- */
.page { 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- Фрейм --- */
.frame {
    width: 710px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

/* --- Заголовок --- */
.title-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title-label {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #222222;
}

.title-line {
    width: 100%;
    height: 0;
    border-bottom: 2px solid #777777;
    margin-top: 0;
}

/* --- Поле ввода --- */
.input-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    width: 500px;
}

.input-label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #222222;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
}

.input-field {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    background: transparent;
    outline: none;
    width: 100%;
}

.input::placeholder {
    color: #777777;
}

.input-line {
    width: 100%;
    height: 0;
    border-bottom: 1.5px solid #777777;
    /*
    margin-top: 0;
    */
}

.password-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}

.password-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/* --- Кнопки --- */
.button-primary {
    width: 450px;
    height: 50px;
}

/* --- Текст о регистрации --- */
.register-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.register-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #222222;
}

.register-link {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0C21C1;
    text-decoration: none;
    background: none;
    border: none;
}

.register-link:hover {
    text-decoration: underline;
}