/* --- Сброс стилей --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Базовый стиль для body --- */
body {
    background-color: #BAE7FF;
    font-family: 'Poppins', sans-serif;
    min-height: 100dvh;
}

/* --- Базовый стиль для страницы --- */
.page {
    min-height: 100dvh;
}

/* --- Базовый стиль для фрейма --- */
.frame {
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 32px;
}

/* --- Базовые стили для кнопок --- */
.button-primary {
    background-color: #3077A6;
    border: none;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-primary:hover {
    background-color: #255e82;
}

.button-secondary {
    background-color: #F0F0F0;
    border: 1.5px solid #777777;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-secondary:hover {
    background-color: #d0d0d0;
}

.button-tertiary {
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-tertiary:hover {
    background-color: #F0F0F0;
}

/* --- Базовые стили для текста --- */
.h1 {
    font-size: 28px;
    font-weight: 600;
    color: #222222;
}

.h2 {
    font-size: 24px;
    font-weight: 500;
    color: #222222;
}

.p1 {
    font-size: 20px;
    font-weight: 400;
    color: #222222;
}

.p2 {
    font-size: 16px;
    font-weight: 400;
    color: #222222;
}

.help-text {
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}

@media (max-width: 768px) {
        .h1 {
        font-size: 24px;
    }

    .h2 {
        font-size: 20px;
    }

    .p1 {
        font-size: 16px;
    }

    .p2 {
        font-size: 14px;
    }

    .help-text {
        font-size: 12px;
    }

    .button-primary {
        font-size: 16px;
    }

    .button-secondary {
        font-size: 16px;
    }

    .button-tertiary {
        font-size: 16px;
    }
}